{% extends 'layout.html' %}

{% block content %}
    <div class="container text-center">
        <h1>WiiFitBoardBit FitBit Authorisation</h1>
        <p>Click the button bellow to add a new user</p>
        <a class="btn btn-primary btn-lg btn-success" role="button" aria-disabled="true"
           href="{{ url_for('create_new_user') }}">
            New user
        </a>
    </div>
    {% if user_data %}
        <div class="container text-center" style="margin-top: 20px;">
            <p>Click on the user you want to authorise</p>
            {% for user in user_data %}
                <div style="margin-top: 10px; margin-bottom: 10px;">
                    <a class="btn btn-primary btn-md" role="button" aria-disabled="true"
                       href="{{ '/fitbit_auth/%s'%user.user_id|urlencode  }}">{{ user.user_name }}</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}